@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  background-color: #1F1B24;
}

body {
  background-color: #121212;
}


.menuItem {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.menuTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

li {
  float: left;

}

li a {
  display: block;
  color: rgb(211, 211, 211);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f7f1fd19;
  cursor: pointer
}

li a.active {
  color: black;
  background-color: #e6d9e0;
}

.tooltip {
  color: #e6d9e0;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.loadingScreen {
  text-align: center;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  justify-content: normal;
  color: rgb(211, 211, 211);
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  
  text-align: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  background-color: #50465c;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
}

.grid-container4 {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  gap: 10px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
  justify-content: space-evenly;
  align-content: center;
  background-color: #0f0c12;

  
}

.grid-container5{
  display: grid;
  grid-template-columns: 5% 15% 60% 15% 5%;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
  justify-content: center;
}

.grid-container6 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  
  color: rgb(211, 211, 211);
}

.grid-container7{
  display: grid;
  grid-template-columns: 5% 15% 60% 15% 5%;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
  justify-content: center;
}

#resultsTitle {
  text-decoration: underline;
}

.grid-container8{
  display: grid;
  grid-template-columns: auto;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
  justify-content: center;
}

.grid-container6 > div {
  background-color: #50465c;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}

.grid-container5 > div {
  background-color: #50465c;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}
#itemTemp{
  grid-column: 2/3
}

#searchBarDiv{
  grid-column: 3/4;
  grid-row: 1/2;
  
}

#homeBtn{
  grid-column: 3/4;
  grid-row: 1/2;
  
}

#searchBtnDiv{
  grid-column: 4/ 5;
  grid-row: 1/2;
}

#searchResetBtn{
  grid-row: 2/3;
  grid-column: 3/4;
}

.placeHolder{
  grid-column: 1/2;
  grid-row: 1/1;
}

.exitBtn{
  grid-column: 3/ 4;
  grid-row: 1/2;
}

.openName{
  grid-column: 2/3;
  grid-row: 1/2;
  
}

#openName{
  text-decoration: underline;
  font-size: 25px;
}

.openCaseImgDiv{
  grid-column: 1/4;
  grid-row: 2/5;
  
  
}

.grid-container3 > div {
  background-color: #0f0c12;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}

.grid-container4 > div {
  
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
  
}


.itemImg{
  height: auto;
  width: 240px;
}

.grid-container2 > div {
  background-color: #50465c;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}

.grid-container2 > div:hover {
  background-color: rgb(115, 101, 133);
  cursor: pointer;
}

.grid-container > div {
  background-color: #50465c;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}

.grid-container > div:hover {
  background-color: rgb(115, 101, 133);
  cursor: pointer;
  
}

.grid-container > div:hover > .caseImg{
  animation: short-shake 0.4s infinite;
}

br {
  display: block;
  margin: 5px 0;
}

.searchBar{
  text-align: center;
  padding: 10px;
}
#searchBar {
  width: 95%;
  height: 60%;
  padding: 20px 20px;
  margin: 30px 0;
  box-sizing: border-box;
  background-color: #1F1B24;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  
}

#searchBtnImg{
  height: auto;
  max-width: 30px;
}

button{
  color: black;
  font-family: 'Roboto', sans-serif;
  
}

button:hover{
  cursor: pointer;
}

#searchBtn{
  background-color: #1F1B24;
  float:left;
  padding: 10%;
  
  border-radius: 100%;
  padding: 20px 20px;
  margin: 30px 0;
}

.whiteBtn{
  background-color: #e6d9e0;
  padding: 10px 20px;
  margin: 8px 0;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.balance{
  float: right;
}

.balIMG{
  height: auto;
  width: 240px;
}

.balText{
  font-size: 30px;
}



.openCaseImg{
  height: auto;
  max-width: 400px;
  
}
#wonItemImg{
  height: auto;
  max-width: 400px;
}

#exitButton{
  height: auto;
  max-width: 40px;
}

.caseOpenAnimation1 {
  animation: openCase 1s;
  animation-iteration-count: 3;
}

.caseOpenAnimation2 {
  animation: short-shake 0.1s;
  animation-iteration-count: 10;
}

.text-jiggle{
  animation: short-shake 1s infinite;
}



@keyframes long-shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes short-shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(2deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes openCase {
  0% { transform: translate(0, 0) rotate(0deg); }
  5% { transform: translate(2px, 2px) rotate(2deg); }
  10% { transform: translate(0, 0) rotate(0eg); }
  15% { transform: translate(-2px, 2px) rotate(-2deg); }
  20% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(0, 0) rotate(0deg); }
  30% { transform: translate(2px, 2px) rotate(2deg); }
  35% { transform: translate(0, 0) rotate(0eg); }
  40% { transform: translate(-2px, 2px) rotate(-2deg); }
  45% { transform: translate(0, 0) rotate(0deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  55% { transform: translate(2px, 2px) rotate(2deg); }
  60% { transform: translate(0, 0) rotate(0eg); }
  65% { transform: translate(-2px, 2px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}