@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  background-color: #1F1B24;
}

body {
  background-color: #121212;
}


.menuItem {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.menuTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

li {
  float: left;

}

li a {
  display: block;
  color: rgb(211, 211, 211);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f7f1fd19;
  cursor: pointer
}

li a.active {
  color: black;
  background-color: #e6d9e0;
}

.tooltip {
  color: #e6d9e0;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.loadingScreen {
  text-align: center;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  background-color: #1F1B24;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
}

.grid-container4 {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(211, 211, 211);
  text-align: center;
}

.grid-container3 > div {
  background-color: #50465c;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}



.grid-container2 > div {
  background-color: #50465c;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}

.grid-container2 > div:hover {
  background-color: rgb(115, 101, 133);
  cursor: pointer;
}

.grid-container > div {
  background-color: #50465c;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  line-height: 1.4;
  
}

.grid-container > div:hover {
  background-color: rgb(115, 101, 133);
  cursor: pointer;
  
}

.grid-container > div:hover > .caseImg{
  animation: short-shake 0.4s infinite;
}

br {
  display: block;
  margin: 5px 0;
}

.searchBar{
  text-align: center;
  padding: 10px;
}
input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #50465c;
  color: white;
  border-radius: 4px;
}

button{
  padding: 10px 20px;
  margin: 8px 0;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.balance{
  float: right;
}

.balIMG{
  height: auto;
  width: 240px;
}

.balText{
  font-size: 30px;
}

#openCaseImgDiv{
  text-align: center;
  
}

#openCaseImg{
  height: auto;
  width: 350px;
  
}

#exitButton{
  
  float:right;
  height: auto;
  width: 80px;
}


@keyframes long-shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes short-shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(2deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}